/*Cabecera*/
#header{
	background-color: #000000;
}
/*Fondo del mensaje móvil*/
marquee {
	background-image: url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png);
}
/*Contenedor*/
.container {
    width: 960px;
    background: #fff;
}
.row{
	background-color: #000000;
}	
/*Barra de marcadores*/
.scorelist {
    clear: both;
    margin: 0;
    display: table;
    padding: 0;
    height: 50px;
}
/*Cuadro de marcador*/
.yui3-scorestrip-tile {
    border: 1px solid #b9302b;
    cursor: pointer;
    display: inline;
    float: right;
    font: 700 14px 'NFLEndzoneTechBold';
    height: 50px;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-transform: uppercase;
}
/*Dimensión del cuadro*/
.yui3-scorestrip-tile-index-0{
	width: 60px;
}
/*Resultado*/
.yui3-scorestrip-tile-score {
    right: 1px;
    text-align: right;
}
/*Posición del resultado de casa*/
.yui3-scorestrip-tile-big-play a, .yui3-scorestrip-tile-home {
    top: 29px;
}
/*Posición del resultado de visitante*/
.yui3-scorestrip-tile-visitor {
    top: 4px;
}
/*Color del ganador*/
.scorelist .yui3-scorestrip-tile-visitor-wins .yui3-scorestrip-tile-visitor, .yui3-scorestrip-tile-home-wins .yui3-scorestrip-tile-home {
    color: #b9302b !important;
}
/*Barra del menú*/
#daddyleagues-menu {
	margin-bottom: 0px !important;
	min-height: 50px !important;
}
#daddyleagues-menu .navbar {
	min-height: 50px !important;
	background-image: url("http://i.nflcdn.com/static/site/7.5/img/header-2012/nav-bg.png");
	background-repeat: repeat-x;
	text-align: center !important;
	border-radius: 0px !important;
}
#daddyleagues-menu ul.nav{
	min-height: 50px !important;
	max-height: 50px !important;
	margin: 0 auto !important;
	width: 100% !important;
	display:flex;
	justify-content: center;
	font-size: 0 !important;
}
#daddyleagues-menu div.navbar {
	border-style: none !important;
}
#daddyleagues-menu ul li{
	min-height: 50px !important;
	border-left: 1px solid #A1A1A1;
}	
#daddyleagues-menu .navbar ul li a{
	min-height: 50px !important;
	vertical-align: middle !important;
	font-family: 'NFLEndzoneSansCondMedium' !important;
	font-size: 17px !important;
	text-transform: uppercase;
}
#daddyleagues-menu .navbar .nav > li > a, #daddyleagues-menu .navbar .nav > li > a:visited {
	color: #000000 !important;
	text-shadow: 1px 1px #ffffff !important;
	padding: 14px 10px !important;
	display: block !important;
	text-transform: uppercase;
}
#daddyleagues-menu .nav-pills>li+li {
	margin-left: 0px !important;
}
#daddyleagues-menu .navbar .nav > li > a:hover {
	background-image: url("http://i65.tinypic.com/5mg8k6.png") !important;
	background-repeat: repeat-x !important;
	color: #ffffff !important;
	text-shadow: 2px 2px #000000 !important;
	border-bottom: none;
}
#daddyleagues-menu .navbar .nav > li.active > a {
	background-image: url("http://i65.tinypic.com/5mg8k6.png") !important;
	background-repeat: repeat-x !important;
	color: #ffffff !important;
	text-shadow: 2px 2px #000000 !important;
}
/*Bloque del home*/
.content {
	background-color: #000000;
}
#hmPageWrapper {
	margin:0 !important;
	background:#333333;
	height: auto;
}
/*Clasificaciones*/
.afc, .nfc {
    width: 100%;
    height: 258px;
    float: left;
}
.afc-title {
    color: #fff;
    text-shadow: 1px 1px 0px #89171a;
    text-align: center;
    padding-top: 2px;
    background-color: #b9302b;
    border-color: #89171a;
    border-radius: 0;
    width: 100%;
    height: 25px;
    font: 700 14px 'NFLEndzoneTechBold';
}
.nfc-title {
    color: #fff;
    text-shadow: 1px 1px 0px #103a71;
    text-align: center;
    padding-top: 2px;
    background-color: #005294;
    border-color: #103a71;
    border-radius: 0;
    width: 100%;
    height: 25px;
    font: 700 14px 'NFLEndzoneTechBold';
}
#afc-east-container, #afc-north-container, #afc-south-container, #nfc-east-container, #nfc-north-container, #nfc-south-container, #afc-west-container, #nfc-west-container {
    width: 236.5px;
    float: left;
    border-right: 0px solid;
}
.afc table.data-table1 .thd1 td {
    background-color: #b9302b;
    color: #fff;
    font-weight: 700;
}
.nfc table.data-table1 .thd1 td {
    background-color: #005294;
    color: #fff;
    font-weight: 700;
}
.playoff-race .left-column {
    width:50%;
    padding: 0px 0px 0px 0px;
    float: right;
}
.playoff-race .right-column {
    width:50%;
    padding: 0px 0px 0px 0px;
    float: right;
}
#afc-playoff-container .playoff-img {
    width: 200px;
    height: 30px;
    text-align: center;
}
#afc-playoff-container .playoff-img img {
    width: 12%;
}
#nfc-playoff-container .playoff-img {
    width: 200px;
    height: 30px;
    text-align: center;
}
#nfc-playoff-container .playoff-img img {
    width: 12%;
}
/*Reloj cuenta atrás*/
.reloj {
	text-align: center;
	width: 25%;
	margin: 5px;
	border: 2px #b9302b solid;
	background-color: #000000;
	float: right;
}
.relojCabecera {
	border-bottom: 2px #b9302b solid;
	background-image: url("http://i.nflcdn.com/static/site/7.5/img/header-2012/nav-bg.png");
	background-repeat: repeat-x;
	text-transform: uppercase;
	color: #000000 !important;
	text-shadow: 1px 1px #ffffff !important;
}
.countdownHolder {
    width: 210px;
    height: 73px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0 0 .2em .2em;
    margin: 0 auto;
    font-family: inherit;
    text-align: center;
    text-shadow: 1px 1px 7px black;
}		
/*Bloque de noticias*/
.noticias {
	text-align: center;
	width: 72%;
	height: 601px;
	/*overflow: auto;*/
	margin: 5px;
	border: 2px #b9302b solid;
	background-color: #000000;
	float: left;
}

.youtube {
	text-align: center;
	width: 72%;
	/*overflow: auto;*/
	margin: 5px;
	border: 2px #b9302b solid;
	background-color: #000000;
	float: left;
}

.youtubeBotones {
	line-height: 12px;
	text-align: center;
	margin: 5px 0 15px 0;
}

.youtubeBotones>ul {
    display: inline-block;
    padding-right: 40px;
}

.youtubeBotones>ul>li.current {
    background: #fff;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.youtubeBotones>ul>li {
    background: #fff;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3;
}

.youtubeBotones>ul>li.current {
    cursor: default;
}

.youtubeBotones>ul>li {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    background: #999;
    display: inline-block;
    margin: 0 2px;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.youtube .youtubeContenido {
    position: relative;
}

.youtubeContenido {
    white-space: nowrap;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-align: center;
}

.youtubeCarrusel {
    display: inline-block;
    -webkit-padding-start: 0px;
}

.youtubeCarrusel>li {
    display: inline-block;
    vertical-align: top;
    width: 560px;
}

.youtubeContenedor {
    position: relative;
    display: inline-block;
    visibility: visible;
}

.noticiasCabecera, .youtubeCabecera {
	border-bottom: 2px #b9302b solid;
	background-image: url("http://i.nflcdn.com/static/site/7.5/img/header-2012/nav-bg.png");
	background-repeat: repeat-x;
	text-transform: uppercase;
	color: #000000 !important;
	text-shadow: 1px 1px #ffffff !important;
	font-size: 27px;
}
/*Barra de progreso de noticias*/
@import "compass/css3";

.progress {
  width: 100%;
}
.progress-wrap {
  background: #f80;
  overflow: hidden;
  position: relative;
}
.progress-bar {
    background: #ddd;
    left: 0;
    position: absolute;
    top: 0;
}
.noticiaTitulo p {
	text-decoration: underline;
	text-align: center;
	font-size: 25px;
}
.noticiaContenido p {
	text-align: center;
	margin: 2px;
}
.noticiaPie p {
	text-align: center;
}
/*Twitter*/
.twitter {
	text-align: center;
	width: 25%;
	margin: 5px;
	border: 2px #b9302b solid;
	background-color: #000000;
	float: right;
}
/*Encuesta*/
.encuesta {
	text-align: center;
	width: 25%;
	height: 473.64px;
	margin: 5px;
	border: 2px #b9302b solid;
	background-color: #000000;
	float: right;
}
.encuestaCabecera {
	border-bottom: 2px #b9302b solid;
	background-image: url("http://i.nflcdn.com/static/site/7.5/img/header-2012/nav-bg.png");
	background-repeat: repeat-x;
	text-transform: uppercase;
	color: #000000 !important;
	text-shadow: 1px 1px #ffffff !important;
	font-size: 27px;
}
twitterwidget.twitter-tweet{
	height: 365px;
	overflow: auto;
}
/*.encuestaContenido {
	min-height: 279.18px;
}*/
/*Partidazo*/
.partidazo {
	text-align: center;
	width: 99%;
	margin: 5px;
	border: 2px #b9302b solid;
	background-color: #000000;
	float: left;
}
.partidazoCabecera {
	border-bottom: 2px #b9302b solid;
	background-image: url("http://i.nflcdn.com/static/site/7.5/img/header-2012/nav-bg.png");
	background-repeat: repeat-x;
	text-transform: uppercase;
	color: #000000 !important;
	text-shadow: 1px 1px #ffffff !important;
	font-size: 27px;
}
/*Jugadores*/
.jugadores {
	text-align: center;
	width: 99%;
	margin: 5px;
	border: 2px #b9302b solid;
	background-color: #000000;
	float: left;
}
.jugadoresCabecera {
	border-bottom: 2px #b9302b solid;
	background-image: url("http://i.nflcdn.com/static/site/7.5/img/header-2012/nav-bg.png");
	background-repeat: repeat-x;
	text-transform: uppercase;
	color: #000000 !important;
	text-shadow: 1px 1px #ffffff !important;
	font-size: 27px;
}
.playeroftheweek {
    margin: 0;
    margin-top: 0px;
    background-image: url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(https://fotos.subefotos.com/b0ce6d4714c1df6a6d3e2fe3b5baa909o.jpg);
    overflow: hidden;
    background-repeat: repeat, no-repeat;
    background-size: 5px, 100%;
    background-position-y: -40px;
}
.pow-player-logo {
    width: 275px!important;
    height: 200px!important;
}
.pow-player-logo img {
    position: relative;
    top: -35px;
    left: 340px;
}
.pow-team-logo {
    width: 250px;
    margin: -210px 200px 0;
}
.playeroftheweek-name {
    text-transform: uppercase;
    color: #000000;
    font-size: 25px;
    position: absolute;
    z-index: 6;
    margin-left: 2%;
    margin-top: 9%;
}
.playeroftheweek-name a {
    color: #b9302b;
    font-size: 25px;
    font-weight: 700;
}
.text .stat-value {
    letter-spacing: 0px;
    position: absolute;
    color: #000000;
    text-shadow: 0px 0px 24px #ffffff;
    margin-left: 3%;
    z-index: 6;
    font-size: 20px;
}
/*Clasificaciones*/
.clasificacion {
	text-align: center;
	width: 99%;
	margin: 5px;
	border: 2px #b9302b solid;
	background-color: #000000;
	float: left;
}
.clasificacionCabecera {
	border-bottom: 2px #b9302b solid;
	background-image: url("http://i.nflcdn.com/static/site/7.5/img/header-2012/nav-bg.png");
	background-repeat: repeat-x;
	text-transform: uppercase;
	color: #000000 !important;
	text-shadow: 1px 1px #ffffff !important;
	font-size: 27px;
}
/*Estadísticas*/
.estadisticas {
	text-align: center;
	width: 99%;
	margin: 5px;
	border: 2px #b9302b solid;
	background-color: #000000;
	float: left;
}
.estadisticasCabecera {
	border-bottom: 2px #b9302b solid;
	background-image: url("http://i.nflcdn.com/static/site/7.5/img/header-2012/nav-bg.png");
	background-repeat: repeat-x;
	text-transform: uppercase;
	color: #000000 !important;
	text-shadow: 1px 1px #ffffff !important;
	font-size: 27px;
}
.estadisticasContenido .pasadores, .estadisticasContenido .corredores, .estadisticasContenido .receptores, .estadisticasContenido .interceptados, .estadisticasContenido .placadores, .estadisticasContenido .interceptadores, .estadisticasContenido .saqueadores {
	width: 100%;
	text-align: center;
	font-size: 25px;
	background-image: url("http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png"), url("https://static4.arrow.com/-/media/images/research-and-events/articles/1015/1015-nfl-stadiums-see-the-lights-correct-main.jpg");
    background-size: 960px;
    background-position-y: -140px;
    position: relative;
}
.estadisticasContenido .pasadoresContenido, .estadisticasContenido .corredoresContenido, .estadisticasContenido .receptoresContenido, .estadisticasContenido .interceptadosContenido, .estadisticasContenido .placadoresContenido, .estadisticasContenido .interceptadoresContenido, .estadisticasContenido .saqueadoresContenido {
	width: 66%;
	float: left;
}
.pasadoresFondo, .corredoresFondo, .receptoresFondo, .interceptadosFondo, .placadoresFondo, .interceptadoresFondo, .saqueadoresFondo {
	display: none;
}
.sobre {
	position:absolute;
	top: 150px;
	left: 810px;
	border:none;
	height: 140px;
    margin: auto;
    opacity: .8;
}
.estadisticas .titulo, .jugadores .titulo {
	background-image: url("http://fotos.subefotos.com/a136dc30536505307827838fa461be70o.jpg");
	text-transform: uppercase;
	text-align: center;
	font-size: 25px;
	background-position-x: -30px;
	cursor: pointer;
}
#s-passing-leaders-container .thd1, #s-rushing-leaders-container .thd1, #s-receiving-leaders-container .thd1, #s-picks-leaders-container .thd1, #s-defense-leaders-container .thd1, #s-defenseint-leaders-container .thd1, #s-sacks-leaders-container .thd1{
	display: none;
}
.estadisticasContenido table.data-table1 .tbdy1 td, .estadisticasContenido table.data-table1 tr:nth-child(odd), .estadisticasContenido table.data-table1 tr:nth-child(even) {
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
}
/*Internos*/
.pinto strong {
	color: #b9302b;
}
.pinto tr td {
    color: #b9302b;
}
#playerSearchContainer {
    background-color: #b9302b;
}
#schedules .selected {
	color: #ffffff;
}
#scores .name {
	color: #000000;
}
.score {
	color: #000000;
}
.col-md-10 {
    width: 100%;
}
.blogpostbody p {
	color: #ffffff;
}
.overview .blogpost p {
	color: #000000;
}
.blogpostfooter p {
	color: #428bca;
}
.block div {
	background-color: #000000 !important;
}
#comment- td {
	color: #428bca;
}
.statictisc-title {
	color: #000000;
}
/*Bloque blogs y chat*/
.bloque2 {
	width: 67%;
	height: 1080px;
	overflow: auto;
	float: left;
	margin: 5px;
	border: 2px #b9302b solid;
	background-color: #000000;
	text-align: center;
}
.blogCabecera {
	border-bottom: 2px #b9302b solid;
	background-image: url("http://i.nflcdn.com/static/site/7.5/img/header-2012/nav-bg.png");
	background-repeat: repeat-x;
	text-transform: uppercase;
	color: #000000 !important;
	text-shadow: 1px 1px #ffffff !important;
	font-size: 27px;
}
.chat {
	margin-top: 10px;
}
.chatCabecera {
	border-bottom: 2px #b9302b solid;
	background-image: url("http://i.nflcdn.com/static/site/7.5/img/header-2012/nav-bg.png");
	background-repeat: repeat-x;
	text-transform: uppercase;
	color: #000000 !important;
	text-shadow: 1px 1px #ffffff !important;
	font-size: 27px;
}
/*Bloque rankings y transacciones*/
.bloque3 {
	width: 30%;
	float: right;
	margin: 5px;
	border: 2px #b9302b solid;
	background-color: #000000;
	text-align: center;
}
.powerCabecera {
	border-bottom: 2px #b9302b solid;
	background-image: url("http://i.nflcdn.com/static/site/7.5/img/header-2012/nav-bg.png");
	background-repeat: repeat-x;
	text-transform: uppercase;
	color: #000000 !important;
	text-shadow: 1px 1px #ffffff !important;
	font-size: 22px;
}
.traspasos {
	margin-top: 8px;
}
.traspasosCabecera {
	border-bottom: 2px #b9302b solid;
	background-image: url("http://i.nflcdn.com/static/site/7.5/img/header-2012/nav-bg.png");
	background-repeat: repeat-x;
	text-transform: uppercase;
	color: #000000 !important;
	text-shadow: 1px 1px #ffffff !important;
	font-size: 22px;
}
#transactions .data-table1 td.tbdy1, #transactions table.data-table1 .tbdy1 td {
    font-size: 10px;
}
.cfm-player-attributes-item-level {
    color: #000000;
}
/*Injury report*/
.lesionados {
	width: 25%;
	float: right;
	margin: 5px;
	border: 2px #b9302b solid;
	background-color: #000000;
	text-align: center;
	margin-right: 100px;
}
.lesionadosCabecera {
	border-bottom: 2px #b9302b solid;
	background-image: url("http://i.nflcdn.com/static/site/7.5/img/header-2012/nav-bg.png");
	background-repeat: repeat-x;
	text-transform: uppercase;
	color: #000000 !important;
	text-shadow: 1px 1px #ffffff !important;
	font-size: 22px;
}
/*Rookies*/
.novatos {
	width: 25%;
	float: right;
	margin: 5px;
	border: 2px #b9302b solid;
	background-color: #000000;
	text-align: center;
}
.novatosCabecera {
	border-bottom: 2px #b9302b solid;
	background-image: url("http://i.nflcdn.com/static/site/7.5/img/header-2012/nav-bg.png");
	background-repeat: repeat-x;
	text-transform: uppercase;
	color: #000000 !important;
	text-shadow: 1px 1px #ffffff !important;
	font-size: 22px;
}
/*Agentes libres*/
.agentesLibres {
	width: 25%;
	float: right;
	margin: 5px;
	border: 2px #b9302b solid;
	background-color: #000000;
	text-align: center;
}
.agentesLibresCabecera {
	border-bottom: 2px #b9302b solid;
	background-image: url("http://i.nflcdn.com/static/site/7.5/img/header-2012/nav-bg.png");
	background-repeat: repeat-x;
	text-transform: uppercase;
	color: #000000 !important;
	text-shadow: 1px 1px #ffffff !important;
	font-size: 22px;
}
/*Partidazo*/	
.schedules-list {
    position: relative;
    margin-bottom: 20px;
}
.schedules-table {
    position: relative;
    margin: 0 20px;
    -webkit-padding-start: 0px;
    background-color: #ffffff;
}
.schedules-list-date {
    height: 40px;
    font-size: 12px;
    font-family: NFLEndzoneTechBold,sans-serif;
    text-transform: uppercase;
    color: #666;
}
.schedules-list-date, .schedules-list-matchup {
    display: block;
    width: 100%;
}
.schedules-list-matchup {
    margin-bottom: 5px;
}
.schedules-list-hd {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    white-space: nowrap;
    background: rgba(255,255,255,0.5);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-box-shadow: inset 0 0 3px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 0 3px 1px rgba(0,0,0,0.2);
    box-shadow: inset 0 0 3px 1px rgba(0,0,0,0.2);
}
.expandable .list-matchup-row-left, .expanded .list-matchup-row-left {
    background: rgba(102,102,102,0.3);
    -webkit-box-shadow: rgba(102,102,102,0.3) 0 0 0 1px inset, rgba(255,255,255,0.1) 0 2px 0 inset;
    -moz-box-shadow: rgba(102,102,102,0.3) 0 0 0 1px inset,rgba(255,255,255,0.1) 0 2px 0 inset;
    box-shadow: rgba(102,102,102,0.3) 0 0 0 1px inset, rgba(255,255,255,0.1) 0 2px 0 inset;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(166,166,166,0.3)), color-stop(100%, rgba(121,121,121,0.3)));
    background: -webkit-linear-gradient(top, rgba(166,166,166,0.3) 0%,rgba(121,121,121,0.3) 100%);
    background: -moz-linear-gradient(top, rgba(166,166,166,0.3) 0%,rgba(121,121,121,0.3) 100%);
    background: -o-linear-gradient(top, rgba(166,166,166,0.3) 0%,rgba(121,121,121,0.3) 100%);
    background: -ms-linear-gradient(top, rgba(166,166,166,0.3) 0%,rgba(121,121,121,0.3) 100%);
    background: linear-gradient(top, rgba(166,166,166,0.3) 0%,rgba(121,121,121,0.3) 100%);
}
.schedules-list-hd>div {
    display: inline-block;
    height: 100%;
    font-size: 29px;
    font-family: 'NFLEndzoneSansCondMedium',sans-serif;
    text-transform: uppercase;
    color: #333;
}
.list-matchup-row-center {
    background-repeat: repeat-x !important;
    background-position: 0 -40px !important;
    height: 40px;
}
.list-matchup-row-center>div {
    float: left;
    padding-top: 4px;
}
.list-matchup-row-time {
    width: 61px;
    color: #666;
    margin-left: 4px;
}
.list-matchup-row-time .time {
    display: block;
    float: left;
}
.list-matchup-row-time .suff {
    display: block;
    float: left;
    margin-top: 3px;
}
.list-matchup-row-time .pm {
    display: block;
    font-size: 12px;
    margin-top: 1px;
}
.list-matchup-row-time .et {
    display: block;
    font-size: 15px;
    margin-top: -5px;
}
.list-matchup-row-tv {
    width: 40px;
}
.list-matchup-row-tv>span:first-child, .list-matchup-row-tv a:first-child {
    margin-left: 0;
}
.list-matchup-row-tv>span, .list-matchup-row-tv a {
    width: 38px;
    display: block;
    color: #aaa;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    position: relative;
    display: inline-block;
    margin-left: 5px;
}
/*Iconos NFL.com*/
.nflicon {
	font-family:nfl_iconsregular,monospace !important;
	font-style:normal !important;
	font-weight:normal !important;
	text-decoration:none !important;
	font-variant:normal !important;
	text-transform:none !important
}
.nflicon.skip-backward:after{content:"p"}
.nflicon.gplus:after {content:"7"}
.nflicon.settings:after {content:"J"}
.nflicon.mute:after {content:"x"}
.nflicon.video:after {content:"e"}
.nflicon.nflnetwork:after {content:","}
.nflicon.question:after {content:"R"}
.nflicon.twitter:after {content:"4"}
.nflicon.select:after {content:"Z"}
.nflicon.end:after{content:"u"}
.nflicon.fox:after{content:")"}
.nflicon.arrow-left:after{content:"<"}
.nflicon.save:after{content:"O"}
.nflicon.decrease:after{content:"b"}
.nflicon.volume-up:after{content:"{"}
.nflicon.nfl-shield:after{content:"1"}
.nflicon.zoom-default:after{content:"D"}
.nflicon.arrow-close:after{content:"W"}
.nflicon.pause:after{content:"r"}
.nflicon.print:after{content:"9"}
.nflicon.embiggen:after{content:"L"}
.nflicon.volume-default:after{content:"z"}
.nflicon.quote-close:after{content:"g"}
.nflicon.nfl-wordmark:after{content:"."}
.nflicon.pop-out:after{content:"A"}
.nflicon.fast-backward:after{content:"o"}
.nflicon.pinterest:after{content:"6"}
.nflicon.check:after{content:"I"}
.nflicon.fullscreen-leave:after{content:"w"}
.nflicon.flag:after{content:"d"}
.nflicon.espn:after{content:"+"}
.nflicon.arrow-right:after{content:">"}
.nflicon.caution:after{content:"Q"}
.nflicon.nfc:after{content:"3"}
.nflicon.zoom-out:after{content:"F"}
.nflicon.rss:after{content:"Y"}
.nflicon.fast-forward:after{content:"t"}
.nflicon.tickets:after{content:"("}
.nflicon.filter:after{content:"N"}
.nflicon.increase:after{content:"a"}
.nflicon.comment:after{content:"i"}
.nflicon.player:after{content:"j"}
.nflicon.close-dark:after{content:"C"}
.nflicon.arrow-open:after{content:"V"}
.nflicon.play:after{content:"q"}
.nflicon.email:after{content:"8"}
.nflicon.refresh:after{content:"K"}
.nflicon.volume-down:after{content:"y"}
.nflicon.quote-open:after{content:"f"}
.nflicon.nbc:after{content:"-"}
.nflicon.info:after{content:"S"}
.nflicon.beginning:after{content:"n"}
.nflicon.facebook:after{content:"5"}
.nflicon.menu-vert:after{content:"["}
.nflicon.fullscreen-enter:after{content:"v"}
.nflicon.swap:after{content:"c"}
.nflicon.cbs:after{content:"*"}
.nflicon.more:after{content:"="}
.nflicon.menu-horiz:after{content:"P"}
.nflicon.afc:after{content:"2"}
.nflicon.zoom-in:after{content:"E"}
.nflicon.return:after{content:"X"}
.nflicon.skip-forward:after{content:"s"}
.nflicon.arrow-up:after{content:"'"}
.nflicon.itunes:after{content:":"}
.nflicon.shrink:after{content:"M"}
.nflicon.retweet:after{content:"h"}
.nflicon.arrow-down:after{content:"/"}
.nflicon.close-light:after{content:"B"}
.expanded .list-matchup-row-anim {
    width: 720px;
}
.list-matchup-row-anim {
    position: relative;
    width: 666px;
    overflow: hidden;
}
.expanded.pre.weather .list-matchup-row-team {
    opacity: 0;
    z-index: 0;
}
.list-matchup-row-team {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 40px;
    visibility: visible;
    z-index: 1;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}
.list-matchup-row-team .team-name.away {
    left: 0;
    text-align: right;
}
.list-matchup-row-team .team-name.home {
    left: 420px;
}
.list-matchup-row-team .team-name {
    position: absolute;
    width: 240px;
    white-space: nowrap;
}
.list-matchup-row-team .team-logo.away {
    left: 250px;
}
.list-matchup-row-team .team-logo.home {
    left: 370px;
}
.list-matchup-row-team .team-logo {
    position: absolute;
    top: 2px;
}
.list-matchup-row-team .at {
    position: absolute;
    width: 80px;
    left: 290px;
    top: 9px;
    font-size: 14px;
    color: #666;
    text-align: center;
}
.list-matchup-row-team .team-logo>span {
    display: inline-block;
    width: 41px;
    height: 28px;
}
.expanded.pre.weather .list-matchup-row-weather {
    opacity: 1;
    top: 0;
}
.list-matchup-row-weather {
    position: relative;
    z-index: 1;
    margin-top: -4px;
    visibility: visible;
    opacity: 0;
    top: -159px;
    left: 0;
    -webkit-transition: opacity 0.5s ease, top 0.5s ease;
    -moz-transition: opacity 0.5s ease, top 0.5s ease;
    -ms-transition: opacity 0.5s ease, top 0.5s ease;
    -o-transition: opacity 0.5s ease, top 0.5s ease;
    transition: opacity 0.5s ease, top 0.5s ease;
}
.list-matchup-row-weather .weather-icon.day-clear {
    background-image: url(http://i.nflcdn.com/static/site/7.5/img/schedules/weather/day-clear.png);
}
.list-matchup-row-weather .weather-icon.day-cloudy {
    background-image: url(http://i.nflcdn.com/static/site/7.5/img/schedules/weather/day-cloudy.png);
}
.list-matchup-row-weather .weather-icon.day-mostly-cloudy {
    background-image: url(http://i.nflcdn.com/static/site/7.5/img/schedules/weather/day-mostly-cloudy.png);
}
.list-matchup-row-weather .weather-icon.day-foggy {
    background-image: url(http://i.nflcdn.com/static/site/7.5/img/schedules/weather/day-foggy.png);
}
.list-matchup-row-weather .weather-icon.day-rain {
    background-image: url(http://i.nflcdn.com/static/site/7.5/img/schedules/weather/day-rain.png);
}
.list-matchup-row-weather .weather-icon.day-storm {
    background-image: url(http://i.nflcdn.com/static/site/7.5/img/schedules/weather/day-storm.png);
}
.list-matchup-row-weather .weather-icon.day-snow {
    background-image: url(http://i.nflcdn.com/static/site/7.5/img/schedules/weather/day-snow.png);
}
.list-matchup-row-weather .weather-icon.night-clear {
    background-image: url(http://i.nflcdn.com/static/site/7.5/img/schedules/weather/night-clear.png);
}
.list-matchup-row-weather .weather-icon.night-cloudy {
    background-image: url(http://i.nflcdn.com/static/site/7.5/img/schedules/weather/night-cloudy.png);
}
.list-matchup-row-weather .weather-icon.night-mostly-cloudy {
    background-image: url(http://i.nflcdn.com/static/site/7.5/img/schedules/weather/night-mostly-cloudy.png);
}
.list-matchup-row-weather .weather-icon.night-foggy {
    background-image: url(http://i.nflcdn.com/static/site/7.5/img/schedules/weather/night-foggy.png);
}
.list-matchup-row-weather .weather-icon.night-rain {
    background-image: url(http://i.nflcdn.com/static/site/7.5/img/schedules/weather/night-rain.png);
}
.list-matchup-row-weather .weather-icon.night-storm {
    background-image: url(http://i.nflcdn.com/static/site/7.5/img/schedules/weather/night-storm.png);
}
.list-matchup-row-weather .weather-icon.night-snow {
    background-image: url(http://i.nflcdn.com/static/site/7.5/img/schedules/weather/night-snow.png);
}
.expanding .list-matchup-row-weather .weather-icon, .expanded .list-matchup-row-weather .weather-icon {
    height: 120px;
}
.list-matchup-row-weather .weather-icon {
    background-repeat: no-repeat;
    background-color: transparent;
    display: block;
    width: 573px;
    height: 40px;
    left: 42px;
}
.list-matchup-row-weather>span {
    position: relative;
}
.expanded .list-matchup-row-weather .weather-desc {
    display: block;
}
.list-matchup-row-weather .weather-desc {
    position: absolute;
    top: 11px;
    right: 0;
    display: none;
    font-size: 22px;
    line-height: 22px;
    white-space: nowrap;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
}
.list-matchup-row-right {
    background-position: 0 -80px !important;
    width: 0;
    height: 40px;
}
.expanded .schedules-list-content {
    height: 476px;
}
.schedules-list-content {
    z-index: 0;
    position: relative;
    width: 100%;
    height: 0;
    display: block;
    overflow: hidden;
}
.schedules-list-content-bd {
    position: relative;
    z-index: 2;
    overflow: hidden;
    height: 371px;
    text-align: center;
    background-repeat: no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
}
.schedules-list-content-bd>img {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.schedules-list img {
    vertical-align: baseline;
}
.schedules-list-content-bd-away .schedules-list-content-bd-helmet.show {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.schedules-list-content-bd-away .schedules-list-content-bd-helmet {
    left: 0;
    -webkit-transform: translateX(-20%);
    -moz-transform: translateX(-20%);
    -ms-transform: translateX(-20%);
    -o-transform: translateX(-20%);
    transform: translateX(-20%);
}
.schedules-list-content-bd-helmet.show {
    opacity: 1;
}
.schedules-list-content-bd-helmet {
    position: absolute;
    width: 311px;
    height: 292px;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease,-webkit-transform 0.3s ease-out;
    -moz-transition: opacity 0.5s ease,-moz-transform 0.3s ease-out;
    -o-transition: opacity 0.5s ease,-o-transform 0.3s ease-out;
    transition: opacity 0.5s ease,transform 0.3s ease-out;
}
.schedules-list-content-bd-helmet>img {
    width: 100%;
    height: auto;
}
.schedules-list-content-bd-away .schedules-list-content-bd-team-info {
    left: 20px;
}
.schedules-list-content-bd-team-info {
    position: absolute;
    top: 270px;
    height: 100px;
    white-space: nowrap;
}
.schedules-landing a:link, .schedules-landing a:visited, .schedules-landing a:active, .schedules-expanded-view a:link, .schedules-expanded-view a:visited, .schedules-expanded-view a:active {
    color: #013369;
    text-decoration: none;
}
.schedules-list-content-bd-stats>a {
    display: inline-block;
}
.schedules-list-content-bd-team-info div {
    text-transform: uppercase;
    text-align: left;
}
.schedules-list-content-bd-city {
    font-size: 18px;
    line-height: 18px;
    font-family: 'NFLEndzoneTechBold',sans-serif;
    color: #333;
    text-shadow: 0 1px 1px #FFF;
}
.schedules-list-content-bd-nick {
    font: 56px/45px 'NFLEndzoneSansCondMedium', sans-serif;
    color: #333;
    text-shadow: 0 1px 1px #FFF;
}
.schedules-list-content-bd-stats {
    font: 25px/32px 'NFLEndzoneSansCondMedium', sans-serif;
    color: #666;
}
.schedules-list-content-bd-away .schedules-list-content-bd-record {
    float: left;
}
.schedules-list-content-bd-record {
    display: block;
    min-width: 30px;
}
.schedules-list-content-bd-standings {
	font-size: 14px;
	font-family: 'NFLEndzoneTechBold',sans-serif;
	margin: 0 5px;
}
.schedules-list-content-bd-home .schedules-list-content-bd-helmet.show {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.schedules-list-content-bd-home .schedules-list-content-bd-helmet {
    right: 0;
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    -ms-transform: translateX(20%);
    -o-transform: translateX(20%);
    transform: translateX(20%);
}
.schedules-list-content-bd-home .schedules-list-content-bd-team-info {
    right: 20px;
}
.schedules-list-content-bd-home .schedules-list-content-bd-team-info div {
    text-align: right;
    white-space: normal;
}
.schedules-list-content-bd-home .schedules-list-content-bd-record {
    float: right;
}
.schedules-list-content-bd-center {
    display: inline-block;
    margin-top: 10px;
}
.schedules-list-content-carousel-container.rendered {
    visibility: visible;
}
.schedules-list-content-carousel-container {
    position: relative;
    display: inline-block;
    width: 320px;
    height: 254px;
    visibility: hidden;
}
.schedules-list-content-carousel-page-indicator {
	line-height: 12px;
	text-align: center;
	margin: 5px 0 15px 0;
}
.schedules-list-content-carousel-page-indicator>ul {
    display: inline-block;
    padding-right: 40px;
}
.schedules-list-content-carousel-page-indicator>ul>li.current, .schedules-list-content-carousel-page-indicator>ul>li.current {
    background: #fff;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
.borderradius .schedules-list-content-carousel-page-indicator>ul>li.current {
    background: #333;
}
.schedules-list-content-carousel-page-indicator>ul>li, .schedules-list-content-carousel-page-indicator>ul>li {
    background: #fff;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3;
}
.schedules-list-content-carousel-page-indicator>ul>li.current {
    cursor: default;
}
.schedules-list-content-carousel-page-indicator>ul>li {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    background: #999;
    display: inline-block;
    margin: 0 2px;
    width: 12px;
    height: 12px;
    cursor: pointer;
}
.schedules-list-content-carousel-container .yui3-sched-scrollview {
    overflow: hidden;
    position: relative;
}
.yui3-scrollview {
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.schedules-list-content-carousel-container .yui3-sched-scrollview-content {
    position: relative;
}
.schedules-list-content-carousel {
    white-space: nowrap;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-align: center;
}
.schedules-list-content-carousel-ul {
    display: inline-block;
    -webkit-padding-start: 0px;
}
.schedules-list-content-carousel-ul>li {
    display: inline-block;
    vertical-align: top;
    width: 320px;
}
.team-view .widget-title, .yui3-skin-light .widget-title {
    color: #fff;
    text-shadow: -1px 1px 1px #000;
}
.widget-title {
    margin-bottom: 15px;
    text-align: center;
    font: 23px/23px 'NFLEndzoneSansCondMedium', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: #fff;
}
.yui3-nfl-ranking {
    text-align: center;
}
.widget-content {
    width: 100%;
}
.yui3-nfl-ranking-content {
    display: inline-block;
    position: relative;
    height: 170px !important;
}
.yui3-nfl-ranking-table {
    width: 100%;
}
.yui3-nfl-ranking-row {
    width: 100%;
    height: 40px;
}
.yui3-nfl-ranking-row>div {
    float: left;
    height: 40px;
}
.yui3-nfl-ranking-bar-left {
    left: 0;
    border-right: solid 1px #999;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.yui3-nfl-ranking-bar-cell {
    position: relative;
    height: 100%;
}
.yui3-nfl-ranking-bar-left .yui3-nfl-ranking-bar {
    right: 0;
}
.yui3-nfl-ranking-bar {
    position: absolute;
    top: 5px;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255,255,255,0.3)), color-stop(50%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0.3)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.3) 100%);
    background: -moz-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.3) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.3) 100%);
    background: linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.3) 100%);
    height: 30px;
}
.yui3-nfl-ranking-rank {
    position: absolute;
    top: 8px;
    background: #333;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    width: 24px;
    height: 24px;
    color: #fff;
    font-family: 'NFLEndzoneSansCondMedium',sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 8px;
}
.yui3-nfl-ranking-rank .num {
    font-size: 12px;
    line-height: 24px;
}
.yui3-nfl-ranking-rank .suffix {
    font-size: 8px;
    vertical-align: top;
    line-height: 16px;
    top: 0px;
}
.yui3-skin-light .yui3-nfl-ranking-label-cell {
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
}
.yui3-nfl-ranking-label-cell {
    width: 60px;
    height: 100%;
    color: #666;
    font: 16px/40px 'NFLEndzoneSansCondMedium',sans-serif;
    text-align: center;
}
.yui3-nfl-ranking-bar-right {
    right: 0;
    border-left: solid 1px #999;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.yui3-nfl-ranking-bar-right .yui3-nfl-ranking-bar {
    left: 0;
}
.schedules-list-content-bd-buttons {
    display: inline-block;
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}
.schedules-list-content-bd-buttons .schedules-list-content-bd-gc-btn:link, .desktop-view .schedules-list-content-bd-buttons .schedules-list-content-bd-gc-btn:visited, .desktop-view .schedules-list-content-bd-buttons .schedules-list-content-bd-gc-btn:active {
    color: #fff !important;
    text-decoration: none;
    text-transform: uppercase;
}
.schedules-list-content-bd-buttons .schedules-list-content-bd-gc-btn {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    height: 32px;
    line-height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding: 0 22px;
    font-size: 20px;
    font-family: 'NFLEndzoneSansCondMedium',sans-serif;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background: #454545;
    border: 1px solid #000;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #666666), color-stop(100%, #333333));
    background: -webkit-linear-gradient(top, #666 0%,#333 100%);
    background: -moz-linear-gradient(top, #666 0%,#333 100%);
    background: -o-linear-gradient(top, #666 0%,#333 100%);
    background: -ms-linear-gradient(top, #666 0%,#333 100%);
    background: linear-gradient(top, #666 0%,#333 100%);
    cursor: pointer;
}
.schedules-list-content-bd-center .site {
	color: #2a6496;
	font-size: 20px;
}
.schedules-list-content-bd-result {
    width: 100%;
    height: 105px;
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0,0,0,0)), color-stop(50%, rgba(0,0,0,0.2)), color-stop(100%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 100%);
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 100%);
    background: linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 100%);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.schedules-list-content-bd-result-score.lost {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
}
.schedules-list-content-bd-result-score-away {
    float: left;
    margin-left: 300px;
}
.schedules-list-content-bd-result-score {
    font: 125px/110px 'NFLEndzoneSansCondMedium', sans-serif;
    color: #000;
    text-align: center;
}
.schedules-list-content-bd-result-score-home {
    float: right;
    margin-right: 300px;
}
.schedules-list-content-bd-result-score-final {
    display: inline-block;
    margin-top: 36px;
    font-size: 36px;
    line-height: 36px;
    font-family: 'NFLEndzoneSansCondMedium',sans-serif;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.yui3-nfl-ranking-bar.away-pos1, .yui3-nfl-ranking-bar.home-pos1 {
	width: 120px;
}
.yui3-nfl-ranking-rank.away-pos1 {
	right: 108px;
}
.yui3-nfl-ranking-rank.home-pos1 {
	left: 108px;
}
.yui3-nfl-ranking-bar.away-pos2, .yui3-nfl-ranking-bar.home-pos2 {
	width: 116.25px;
}
.yui3-nfl-ranking-rank.away-pos2 {
	right: 104.25px;
}
.yui3-nfl-ranking-rank.home-pos2 {
	left: 104.25px;
}
.yui3-nfl-ranking-bar.away-pos3, .yui3-nfl-ranking-bar.home-pos3 {
	width: 112.5px;
}
.yui3-nfl-ranking-rank.away-pos3 {
	right: 100.5px;
}
.yui3-nfl-ranking-rank.home-pos3 {
	left: 100.5px;
}
.yui3-nfl-ranking-bar.away-pos4, .yui3-nfl-ranking-bar.home-pos4 {
	width: 108.75px;
}
.yui3-nfl-ranking-rank.away-pos4 {
	right: 96.75px;
}
.yui3-nfl-ranking-rank.home-pos4 {
	left: 96.75px;
}
.yui3-nfl-ranking-bar.away-pos5, .yui3-nfl-ranking-bar.home-pos5 {
	width: 105px;
}
.yui3-nfl-ranking-rank.away-pos5 {
	right: 93px;
}
.yui3-nfl-ranking-rank.home-pos5 {
	left: 93px;
}
.yui3-nfl-ranking-bar.away-pos6, .yui3-nfl-ranking-bar.home-pos6 {
	width: 101.25px;
}
.yui3-nfl-ranking-rank.away-pos6 {
	right: 89.25px;
}
.yui3-nfl-ranking-rank.home-pos6 {
	left: 89.25px;
}
.yui3-nfl-ranking-bar.away-pos7, .yui3-nfl-ranking-bar.home-pos7 {
	width: 97.5px;
}
.yui3-nfl-ranking-rank.away-pos7 {
	right: 85.5px;
}
.yui3-nfl-ranking-rank.home-pos7 {
	left: 85.5px;
}
.yui3-nfl-ranking-bar.away-pos8, .yui3-nfl-ranking-bar.home-pos8 {
	width: 93.75px;
}
.yui3-nfl-ranking-rank.away-pos8 {
	right: 81.75px;
}
.yui3-nfl-ranking-rank.home-pos8 {
	left: 81.75px;
}
.yui3-nfl-ranking-bar.away-pos9, .yui3-nfl-ranking-bar.home-pos9 {
	width: 90px;
}
.yui3-nfl-ranking-rank.away-pos9 {
	right: 78px;
}
.yui3-nfl-ranking-rank.home-pos9 {
	left: 78px;
}
.yui3-nfl-ranking-bar.away-pos10, .yui3-nfl-ranking-bar.home-pos10 {
	width: 86.25px;
}
.yui3-nfl-ranking-rank.away-pos10 {
	right: 74.25px;
}
.yui3-nfl-ranking-rank.home-pos10 {
	left: 74.25px;
}
.yui3-nfl-ranking-bar.away-pos11, .yui3-nfl-ranking-bar.home-pos11 {
	width: 82.5px;
}
.yui3-nfl-ranking-rank.away-pos11 {
	right: 70.5px;
}
.yui3-nfl-ranking-rank.home-pos11 {
	left: 70.5px;
}
.yui3-nfl-ranking-bar.away-pos12, .yui3-nfl-ranking-bar.home-pos12 {
	width: 78.75px;
}
.yui3-nfl-ranking-rank.away-pos12 {
	right: 66.75px;
}
.yui3-nfl-ranking-rank.home-pos12 {
	left: 66.75px;
}
.yui3-nfl-ranking-bar.away-pos13, .yui3-nfl-ranking-bar.home-pos13 {
	width: 75px;
}
.yui3-nfl-ranking-rank.away-pos13 {
	right: 63px;
}
.yui3-nfl-ranking-rank.home-pos13 {
	left: 63px;
}
.yui3-nfl-ranking-bar.away-pos14, .yui3-nfl-ranking-bar.home-pos14 {
	width: 71.25px;
}
.yui3-nfl-ranking-rank.away-pos14 {
	right: 59.25px;
}
.yui3-nfl-ranking-rank.home-pos14 {
	left: 59.25px;
}
.yui3-nfl-ranking-bar.away-pos15, .yui3-nfl-ranking-bar.home-pos15 {
	width: 67.5px;
}
.yui3-nfl-ranking-rank.away-pos15 {
	right: 55.5px;
}
.yui3-nfl-ranking-rank.home-pos15 {
	left: 55.5px;
}
.yui3-nfl-ranking-bar.away-pos16, .yui3-nfl-ranking-bar.home-pos16 {
	width: 63.75px;
}
.yui3-nfl-ranking-rank.away-pos16 {
	right: 51.75px;
}
.yui3-nfl-ranking-rank.home-pos16 {
	left: 51.75px;
}
.yui3-nfl-ranking-bar.away-pos17, .yui3-nfl-ranking-bar.home-pos17 {
	width: 60px;
}
.yui3-nfl-ranking-rank.away-pos17 {
	right: 48px;
}
.yui3-nfl-ranking-rank.home-pos17 {
	left: 48px;
}
.yui3-nfl-ranking-bar.away-pos18, .yui3-nfl-ranking-bar.home-pos18 {
	width: 56.25px;
}
.yui3-nfl-ranking-rank.away-pos18 {
	right: 44.25px;
}
.yui3-nfl-ranking-rank.home-pos18 {
	left: 44.25px;
}
.yui3-nfl-ranking-bar.away-pos19, .yui3-nfl-ranking-bar.home-pos19 {
	width: 52.5px;
}
.yui3-nfl-ranking-rank.away-pos19 {
	right: 40.5px;
}
.yui3-nfl-ranking-rank.home-pos19 {
	left: 40.5px;
}
.yui3-nfl-ranking-bar.away-pos20, .yui3-nfl-ranking-bar.home-pos20 {
	width: 48.75px;
}
.yui3-nfl-ranking-rank.away-pos20 {
	right: 36.75px;
}
.yui3-nfl-ranking-rank.home-pos20 {
	left: 36.75px;
}
.yui3-nfl-ranking-bar.away-pos21, .yui3-nfl-ranking-bar.home-pos21 {
	width: 45px;
}
.yui3-nfl-ranking-rank.away-pos21 {
	right: 33px;
}
.yui3-nfl-ranking-rank.home-pos21 {
	left: 33px;
}
.yui3-nfl-ranking-bar.away-pos22, .yui3-nfl-ranking-bar.home-pos22 {
	width: 41.25px;
}
.yui3-nfl-ranking-rank.away-pos22 {
	right: 29.25px;
}
.yui3-nfl-ranking-rank.home-pos22 {
	left: 29.25px;
}
.yui3-nfl-ranking-bar.away-pos23, .yui3-nfl-ranking-bar.home-pos23 {
	width: 37.5px;
}
.yui3-nfl-ranking-rank.away-pos23 {
	right: 25.5px;
}
.yui3-nfl-ranking-rank.home-pos23 {
	left: 25.5px;
}
.yui3-nfl-ranking-bar.away-pos24, .yui3-nfl-ranking-bar.home-pos24 {
	width: 33.75px;
}
.yui3-nfl-ranking-rank.away-pos24 {
	right: 21.75px;
}
.yui3-nfl-ranking-rank.home-pos24 {
	left: 21.75px;
}
.yui3-nfl-ranking-bar.away-pos25, .yui3-nfl-ranking-bar.home-pos25 {
	width: 30px;
}
.yui3-nfl-ranking-rank.away-pos25 {
	right: 18px;
}
.yui3-nfl-ranking-rank.home-pos25 {
	left: 18px;
}
.yui3-nfl-ranking-bar.away-pos26, .yui3-nfl-ranking-bar.home-pos26 {
	width: 26.25px;
}
.yui3-nfl-ranking-rank.away-pos26 {
	right: 14.25px;
}
.yui3-nfl-ranking-rank.home-pos26 {
	left: 14.25px;
}
.yui3-nfl-ranking-bar.away-pos27, .yui3-nfl-ranking-bar.home-pos27 {
	width: 22.5px;
}
.yui3-nfl-ranking-rank.away-pos27 {
	right: 10.5px;
}
.yui3-nfl-ranking-rank.home-pos27 {
	left: 10.5px;
}
.yui3-nfl-ranking-bar.away-pos28, .yui3-nfl-ranking-bar.home-pos28 {
	width: 18.75px;
}
.yui3-nfl-ranking-rank.away-pos28 {
	right: 6.75px;
}
.yui3-nfl-ranking-rank.home-pos28 {
	left: 6.75px;
}
.yui3-nfl-ranking-bar.away-pos29, .yui3-nfl-ranking-bar.home-pos29 {
	width: 15px;
}
.yui3-nfl-ranking-rank.away-pos29 {
	right: 3px;
}
.yui3-nfl-ranking-rank.home-pos29 {
	left: 3px;
}
.yui3-nfl-ranking-bar.away-pos30, .yui3-nfl-ranking-bar.home-pos30 {
	width: 11.25px;
}
.yui3-nfl-ranking-rank.away-pos30 {
	right: 0px;
}
.yui3-nfl-ranking-rank.home-pos30 {
	left: 0px;
}
.yui3-nfl-ranking-bar.away-pos31, .yui3-nfl-ranking-bar.home-pos31 {
	width: 7.5px;
}
.yui3-nfl-ranking-rank.away-pos31 {
	right: 0px;
}
.yui3-nfl-ranking-rank.home-pos31 {
	left: 0px;
}
.yui3-nfl-ranking-bar.away-pos32, .yui3-nfl-ranking-bar.home-pos32 {
	width: 3.75px;
}
.yui3-nfl-ranking-rank.away-pos32 {
	right: 0px;
}	
.yui3-nfl-ranking-rank.home-pos32 {
	left: 0px;
}	
/*Cuerpo y resto*/
body {
	background-image:url('http://fotos.subefotos.com/e1fb042c66f688f073c65789ad1479c6o.jpg');
	background-repeat:repeat; 
	background-attachment:fixed; 
	background-position:center top; 
	background-color:#000000;
	color: #ffffff;
	font-family: 'NFLEndzoneTechBold';
}
img{
	max-width:100%;
	height:auto;
	vertical-align:middle;
	border:0;
	-ms-interpolation-mode:bicubic;
}
.hmPortletContent{
    border: 2px #242323 solid;
    margin-bottom:20px;
    color: #00000;
    font-family: Tahoma, Verdana, Arial, Sans-Serif;
    font-size: 11px;
	line-height: 1.4em;
	font-weight: bold;
    background-color: #FFFFFF;
	font-weight: bold;
	border-radius: 0px 0px 7px 7px; 
	-moz-border-radius: 0px 0px 7px 7px; 
	-webkit-border-radius: 0px 0px 7px 7px; 
}
.scheduleweek {
    background-color: #FFFFFF!important; 
}
#admin_wrapper .list-group-item {
    background-color: #000000; 
}
table.data-table2 tr:nth-child(odd) {
    background-color: #000000; 
}
table.data-table2 tr:hover {
    background-color: #fa9600;
}
/*Importación de fuentes*/ 
@font-face{
	font-family:'NFLEndzoneSansCondMedium';
	src:url('http://i.nflcdn.com/static/site/7.5/img/fonts/endzone-sans/medium-cond.eot');
}
@font-face{
	font-family:'NFLEndzoneSansCondMedium';
	src:url('//:') format('no404'),
	url('http://i.nflcdn.com/static/site/7.5/img/fonts/endzone-sans/medium-cond.eot?#iefix') format('eot'),
	url('http://i.nflcdn.com/static/site/7.5/img/fonts/endzone-sans/medium-cond.woff') format('woff'),
	url('http://i.nflcdn.com/static/site/7.5/img/fonts/endzone-sans/medium-cond.ttf') format('truetype'),
	url('http://i.nflcdn.com/static/site/7.5/img/fonts/endzone-sans/medium-cond.svg#webfont9DqcIwJf') format('svg');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'NFLEndzoneSlabBold';
	src:url('http://i.nflcdn.com/static/site/7.5/img/fonts/endzone-slab/bold.eot');
}
@font-face{
	font-family:'NFLEndzoneSlabBold';
	src:url('//:') format('no404'),
	url('http://i.nflcdn.com/static/site/7.5/img/fonts/endzone-slab/bold.eot?iefix') format('eot'),
	url('http://i.nflcdn.com/static/site/7.5/img/fonts/endzone-slab/bold.woff') format('woff'),
	url('http://i.nflcdn.com/static/site/7.5/img/fonts/endzone-slab/bold.ttf') format('truetype'),
	url('http://i.nflcdn.com/static/site/7.5/img/fonts/endzone-slab/bold.svg#EndzoneSlab-Bold') format('svg');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'NFLEndzoneTechBold';
	src:url('http://i.nflcdn.com/static/site/7.5/img/fonts/endzone-tech/bold.eot');
}
@font-face{
	font-family:'NFLEndzoneTechBold';
	src:url('//:') format('no404'),
	url('http://i.nflcdn.com/static/site/7.5/img/fonts/endzone-tech/bold.eot') format('eot'),
	url('http://i.nflcdn.com/static/site/7.5/img/fonts/endzone-tech/bold.woff') format('woff'),
	url('http://i.nflcdn.com/static/site/7.5/img/fonts/endzone-tech/bold.ttf') format('truetype'),
	url('http://i.nflcdn.com/static/site/7.5/img/fonts/endzone-tech/bold.svg#EndzoneTech-Bold') format('svg');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:nfl_iconsregular;
	src:url("http://i.nflcdn.com/static/site/7.5/scripts/modules/font-nflicons-tmp/assets/nflicons-regular-webfont.eot")
}
@font-face{
	font-family:nfl_iconsregular;
	src:url("//:") format("no404"),
	url("http://i.nflcdn.com/static/site/7.5/scripts/modules/font-nflicons-tmp/assets/nflicons-regular-webfont.eot?iefix") format("eot"),
	url("http://i.nflcdn.com/static/site/7.5/scripts/modules/font-nflicons-tmp/assets/nflicons-regular-webfont.woff") format("woff"),
	url("http://i.nflcdn.com/static/site/7.5/scripts/modules/font-nflicons-tmp/assets/nflicons-regular-webfont.ttf") format("truetype"),
	url("http://i.nflcdn.com/static/site/7.5/scripts/modules/font-nflicons-tmp/assets/nflicons-regular-webfont.svg#nfl_iconsregular") format("svg");
	font-weight:normal;
	font-style:normal
}